<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>979693285877-s6ks52e357o8c6lqdfkb8qi9f7i15254.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.979693285877-s6ks52e357o8c6lqdfkb8qi9f7i15254</string>
	<key>API_KEY</key>
	<string>AIzaSyASA0A1WyrfLO_rh_1uu5GhkwSeTKZ47e4</string>
	<key>GCM_SENDER_ID</key>
	<string>979693285877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nouradawy.superApp</string>
	<key>PROJECT_ID</key>
	<string>super-app-c86fc</string>
	<key>STORAGE_BUCKET</key>
	<string>super-app-c86fc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:979693285877:ios:40465c34116571399270bc</string>
</dict>
</plist>